/****** COLORS *******/

:root {
   --main-color: rgb(17, 16, 27);
   --footer: rgb(6, 6, 22);
   --dark-blue: rgb(21, 25, 44);
   --darker-light-blue: rgb(15, 76, 190);
   --light-blue: rgb(14, 88, 228);
   --lighter-blue: rgb(39, 109, 240);
   --popup: rgb(172, 191, 224);
   --violet: rgb(156, 134, 172);
   --white: rgb(250, 250, 250);
   --red: rgb(243, 83, 110);
   --icons: rgb(80, 85, 114);
}

/****** RESET *******/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}


/****** BASIC SETUP ******/


html {
   font-size: 62.5%;
}

body {
   font-family: 'Roboto', sans-serif;
   font-size: 1.6rem;
   color: var(--white);
   background-color: var(--main-color);
}


/****** HEADER ******/


header {
   height: 55rem;
   background-image: 
      linear-gradient(rgba(19, 26, 61, 0.8), rgba(17, 16, 27, .8)),
      url("../images/background-img.jpg");
   background-size: cover;
   background-position-y: center;
}

h1 {
   font-size: 5rem;
   text-align: center;
   position: absolute;
   top: 10rem;
   left: 0;
   right: 0;
   margin: 0 auto;
}

.search-form {
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.search-form__wrapper {
   padding: 1.8rem;
   background-color: rgba(17, 16, 27, 0.6);
   border-radius: 7px;
   display: flex;
}

.search-form__input {
   border: none;
   border-radius: 7px 0 0 7px;
   font-size: 2rem;
   padding: 15px 30px;
   width: 60rem;
   transition: width ease-in-out .3s;
   text-transform: capitalize;
}

.search-form__input:focus {
   width: 70rem;
   outline:none;
}

.search-form__btn {
   border: none;
   border-radius: 0 7px 7px 0;
   font-size: 2rem;
   padding: 15px 30px;
   background-color: var(--light-blue);
   color: var(--white);
   transition: background-color ease-in-out .2s;
}

.search-form__btn:hover {
   background-color: var(--lighter-blue);
}

.search-form__btn:active {
   background-color: var(--darker-light-blue);
}

/****** IMAGE POPUP ******/

.image-popup {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 60%;
   height: 80vh;
   background-color: var(--dark-blue);
   box-shadow: 0px 5px 50px rgba(0, 0, 0, .75);
   /* border: 3px solid rgba(14, 88, 228, 0.3);
   -webkit-background-clip: padding-box;
   background-clip: padding-box;  */
   border-radius: .7rem;
   transition: all .5s;
   display: flex;
   justify-content: center;
   align-items: center;
}

.image-popup.hidden {
   display: none;
   opacity: 0;
}

.image-popup__close-btn {
   position: absolute;
   top: 1.5rem;
   left: 1.5rem;
   width: 2.5rem;
   height: 2.5rem;
   background-color: var(--red);
   border-radius: 50%;
   border: none;
   cursor: pointer;
}

.image-popup__download-btn {
   text-transform: capitalize;
   padding: 1rem 2rem;
   background-color: var(--light-blue);
   color: var(--white);
   border-radius: .7rem;
   text-decoration: none;
   position: absolute;
   right: 1.5rem;
   top: 1.5rem;
}

.image-popup__large-img {
   height: 80%;
   max-width: 80%;
   width: auto;
   object-fit: cover;
}

.image-popup__controls {
   background: none;
   border: none;
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
}

.pre-btn {
   left: 2rem;
   background-color: rgba(17, 16, 27, 0.6);
   padding: 1rem;
   border-radius: .7rem;
   line-height: 1rem;
}

.next-btn {
   right: 2rem;
   background-color: rgba(17, 16, 27, 0.6);
   padding: 1rem;
   border-radius: .7rem;
   line-height: 1rem;
}

/****** RECENT PHOTOS ******/

.recent h2 {
   margin-top: 4rem;
   padding-left: 7rem;
}

.recent-gallery {
   list-style: none;
   padding: 1.5rem 6.5rem;
   display: grid;
   grid-template-columns: repeat(5, minmax(20rem, 1fr));
}

.recent-gallery__photo {
   object-fit: cover;
   cursor: pointer;
   padding: .6rem;
   max-width: 55rem;
   width: 100%;
   height: 25rem;
   min-height: 15rem;
   border-radius: 1rem;
}

/****** FOOTER ******/

footer {
   background-color: var(--footer);
   height: 30rem;
}


/****** MEDIA QUERIES ******/


@media only screen and (max-width: 1440px) {
   .recent-gallery {
      grid-template-columns: repeat(4, minmax(20rem, 1fr));
   }

   .recent-gallery__photo {
      height: 20rem;
      min-height: 10rem;
   }
}

@media only screen and (max-width: 1024px) {
   html {
      font-size: 50%;
   }

   .search-form__input {
      font-size: 2.3rem;
   }

   .recent-gallery {
      grid-template-columns: repeat(3, minmax(20rem, 1fr));
   }

   .recent-gallery__photo {
      height: 23rem;
   }

   .image-popup {
      width: 70%;
      
      height: 70vh;
      align-items: center;
   }

   .image-popup__large-img {
      height: 80%;
      max-width: 80%;
      object-fit: contain;
      border-radius: .7rem;
   }
}

@media only screen and (max-width: 768px) {
   html {
      font-size: 47%;
   }

   header {
      height: 47rem;
   }

   .search-form__wrapper {
      margin-top: 5rem;
   }

   .search-form__input {
      width: 55rem;
      font-size: 2.2rem;
   }

   .search-form__input:focus {
      width: 60rem;
   }

   .search-form__btn {
      padding: 15px 20px;
   }

   .recent-gallery {
      grid-template-columns: repeat(2, minmax(20rem, 1fr));
   }

   .recent-gallery__photo {
      height: 20rem;
      min-height: 10rem;
   }

   
}

@media only screen and (max-width: 620px) {
   .search-form__wrapper {
      flex-direction: column;
      width: 100%;
      margin-top: 10rem;
   }

   .search-form__input {
      width: 100%;
      border-radius: .7rem .7rem 0 0;
      text-align: center;
      font-size: 2.5rem;
      transition: width 0s;
   }

   .search-form__input:focus {
      width: 100%;
   }

   .search-form__btn {
      border-radius: 0 0 .7rem .7rem;
      transition: width 0s;
   }

   
}